
/* Prevent the page from becoming too wide. */
body {
  margin: 0;
  background-image: url("trianglify.png");
  background-attachment: fixed;
}

h1 {
	text-align: center;
	color: #FCD581; /* mellow yellow*/
	padding-top: 100px;
	font-size: 24pt;
}

p {
	color: #FCD581; /*mellow yellow*/
	font-size: 18pt;
	padding-left: 100px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #D52941; /* rust red */
  position: fixed;
  top: 0;
  width: 100%;
}

li {
	float: left;
}

/* Keep navigation menu on one line. */
nav li {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

a {
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

li a:hover:not(.active) {
	color: #FCD581; /*mellow yellow*/
}

.active {
	color: #FCD581; /*mellow yellow*/
}

i {
	background-size: 20px 30px;
}
